<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright 2012 Red Hat, Inc. and/or its affiliates.
 ~
 ~ Licensed under the Eclipse Public License version 1.0, available at
 ~ http://www.eclipse.org/legal/epl-v10.html
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
   debug="false">

   <appender name="FILE" class="org.apache.log4j.rolling.RollingFileAppender">
      <param name="File" value="${user.home}/.forge/runtime.log" />
      <param name="Append" value="true" />
      <param name="encoding" value="UTF-8" />

      <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
          <!-- The file to roll to, this is a fairly intelligent parameter, if the file
         		ends in .gz, it gzips it, based on the date stamp it rolls at that time,
         		default is yyyy-MM-dd, (rolls at midnight)
    	 -->
         <param name="FileNamePattern" value="${user.home}/.forge/runtime.%d.log.gz" />
      </rollingPolicy>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %c{1} [%p] %m%n" />
      </layout>
   </appender>

   <!-- ############### Weld logging ################### -->

   <category name="org.jboss">
      <priority value="DEBUG" />
   </category>

   <category name="org.jboss.weld">
      <priority value="DEBUG" />
   </category>

   <category name="org.apache">
      <priority value="ERROR" />
   </category>

   <root>
      <priority value="INFO" />
      <appender-ref ref="FILE" />
   </root>

</log4j:configuration>
