<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.jboss.forge.shell-api">

   <resources>
      <resource-root path="forge-shell-api.jar" />
      <resource-root path="forge-event-bus.jar" />
      <resource-root path="forge-parser-java-api.jar" />
      <resource-root path="forge-parser-xml.jar" />
      <resource-root path="shrinkwrap-descriptors-api.jar" />
      <resource-root path="shrinkwrap-descriptors-impl.jar" />
   </resources>

   <dependencies>
      <module name="javax.api" />
      <module name="javax.enterprise.cdi-api" export="true"/>
   </dependencies>
   
</module>
