<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.jboss.forge.shell-api">

   <resources>
      <resource-root path="forge-shell-api.jar" />
      
      <resource-root path="forge-javaee-api.jar" />
      <resource-root path="forge-scaffold-api.jar" />
      
      <resource-root path="forge-event-bus.jar" />
      <resource-root path="forge-parser-java-api.jar" />
      <resource-root path="forge-parser-xml.jar" />
      <resource-root path="shrinkwrap-descriptors-api.jar" />
      <resource-root path="shrinkwrap-descriptors-spi.jar" />
      <resource-root path="shrinkwrap-descriptors-impl.jar" />
      
      <!-- Maven -->
      <resource-root path="forge-maven-api.jar" />
      
      <resource-root path="aether-api.jar" />
      <resource-root path="aether-connector-wagon.jar" />
      <resource-root path="aether-impl.jar" />
      <resource-root path="aether-spi.jar" />
      <resource-root path="aether-util.jar" />
      
      <resource-root path="maven-aether-provider.jar" />
      <resource-root path="maven-artifact.jar" />
      <resource-root path="maven-compat.jar" />
      <resource-root path="maven-core.jar" />
      <resource-root path="maven-embedder.jar" />
      <resource-root path="maven-model-builder.jar" />
      <resource-root path="maven-model.jar" />
      <resource-root path="maven-plugin-api.jar" />
      <resource-root path="maven-repository-metadata.jar" />
      <resource-root path="maven-settings-builder.jar" />
      <resource-root path="maven-settings.jar" />
      
      <resource-root path="plexus-cipher.jar" />
      <resource-root path="plexus-classworlds.jar" />
      <resource-root path="plexus-component-annotations.jar" />
      <resource-root path="plexus-interpolation.jar" />
      <resource-root path="plexus-sec-dispatcher.jar" />
      <resource-root path="plexus-utils.jar" />
      
      <resource-root path="sisu-guice-no_aop.jar" />
      <resource-root path="sisu-inject-bean.jar" />
      <resource-root path="sisu-inject-plexus.jar" />
      
      <resource-root path="wagon-file.jar" />
      <resource-root path="wagon-http-lightweight.jar" />
      <resource-root path="wagon-http-shared.jar" />
      <resource-root path="wagon-provider-api.jar" />
   </resources>

   <dependencies>
      <module name="javax.api" />
      <module name="javax.enterprise.cdi-api" export="true"/>
   </dependencies>
   
</module>
